'<div id="buttons">
    <button class="selectb" value="TEMP"> Button</button>
</div>


<section>
    <h4>posts</h4>
    <% if(locals.user){ %>
    <form action="/posts/create/" id="postformCreate" method="POST">
        <textarea id="posttextarea" name="content" cols="30" rows="3" placeholder="type here..." required></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>



</section>

<ul id="postlist">
    <% for(post of post){ %>
        <div id="post-<%= post._id %>">
        <li>
            <p><%= post.content %><br> 
            <small>
                <%=post.user.name %><br>
                <% if(locals.user && locals.user.id == post.user.id){ %>
                    <a class="deletePostAnchor" href="/posts/delete/<%= post.id %>">delete post</a>
                <% } %>
            </small>
            </p> 
        </li>
        
        <%- include('./_comment'); -%>
        </div>
    <% } %>
</ul>


