<!-- <html>

    <head>
        <title> <%= title %> </title>
    </head>

    <body>

        partials
        <%- include('./_header'); -%> -->
        
        Profile<br>
        <%= locals.user.name %><br>
        <%= locals.user.email %>
        <%- include('./_post'); -%>
        <img src=<%= user.avatar %> width="100px">
        
        <!-- <video width="320" height="240" controls>
            <source src=<%= user.avatar %> type="video/mp4">
            <source src=<%= user.avatar %> type="video/ogg">
            Your browser does not support the video tag.
          </video> -->

        <div>
            <h4>Friend</h4>
            <% for(u of users){ %>
                <small>
                    <a href="/users/profile/<%= u.id %>"><%=u.name %></a><br>
                    
                </small><br>
            <% } %>
        </div>

        <script src='/js/post.js'></script>
        <script src='/js/comment.js'></script>

        <!-- partials -->
        <!-- <%- include('./_footer'); -%>
        
    </body>

</html> -->