<!-- <html>

    <head>
        <title> <%= title %> </title>
    </head>

    <body>

        partials
        <%- include('./_header'); -%> -->
        
        Profile<br>
        <%= locals.user.name %><br>
        <%= locals.user.email %>

        <section>
            <h4>posts</h4>
            <% if(locals.user){ %>
            <form action="/posts/create/" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="type here..." required></textarea>
                <input type="submit" value="Post">
            </form>
            <% } %>



        </section>

        <ul>
            <% for(post of post){ %>
                <li><p><%= post.content %> <small><%=post.user.name %></small></p> </li>
                <% if(locals.user){ %>
                    <form action="/comment/create/" method="POST">
                        <textarea name="content" cols="30" rows="3" placeholder="type here..." required></textarea>
                        <input type="hidden" name="post" value="<%= post._id %>">
                        <input type="submit" value="Add comment">
                    </form>
                <% } %>
                
                <% for(comment of post.comment){ %>
                    <li><p><%= comment.content %> <small><%=comment.user.name %></small></p> </li>
                <% } %>

            <% } %>
        </ul>

        <!-- partials -->
        <!-- <%- include('./_footer'); -%>
        
    </body>

</html> -->